openapi: 3.0.3
info:
  title: Todolist Ireland
  description: Todolist service
  version: 0.1.1
servers:
  - url: https://api.todolist.ie/
    description: Prod Web server
  - url: https://dev.todolist.ie/
    description: Dev Web server
paths:
  /user/register:
    post:
      description: Registers a new user
      summary: Register a new user
      requestBody:
        description: Request to create a user account
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Registration made
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          description: Registration failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /user/login:
    post:
      summary: Log in to a user account
      requestBody:
        description: Request to create a user account
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Credentials'
      responses:
        '200':
          description: Successfully Log in
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /user/logout:
    get:
      summary: Log out of a user account
      responses:
        '200':
          description: Successfully Log in
          content:
            'application/json':
              schema:
                type: boolean
  /rest/user:
    get:
      summary: List users
      responses:
        '200':
          description: Successfully lists users
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /rest/todos:
    get:
      summary: Retrieve all todos for the current user
      responses:
        '200':
          description: Selected Todolist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SuccessResponse'
components:
  schemas:
    User:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        locked:
          type: boolean
        verified:
          type: boolean
        roles:
          type: array
          items:
            $ref: '#/components/schemas/UserRole'
    Credentials:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    Todolist:
      type: object
      properties:
        todos:
          type: array
          items:
            $ref: '#/components/schemas/Todo'
        hash:
          type: string
    Todo:
      type: object
      properties:
        summary:
          type: string
        details:
          type: string
        status:
          $ref: '#/components/schemas/TodoStatus'
    TodoStatus:
      type: string
      enum: [todo, done]
    UserRole:
      type: string
      enum: [USER, ADMIN]
    SuccessResponse:
      description: Generic Success Response format
      type: object
      properties:
        success:
          type: string
        message:
          type: string
    ErrorResponse:
      description: Generic Success Response format
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  requestBodies:
    registration:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'
    credentials:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Credentials'
    todolist:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Todolist'
    todo:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Todo'
  examples:
    registration:
      summary: An example registration
      value:
        email: bob@example.com
        password: aPassword4239
    credentials:
      summary: Example login credentials
      value:
        email: bob@todolist.ie
        password: password
